@font-face {
  font-family: "Normal";
  src: local("SFProDisplayRegular"),
  url("./Components/Fonts/sf-pro-display-font/SF-Pro-Display-Regular.woff") format("woff");
}
@font-face {
  font-family: "Semibold";
  src: local("SFProDisplaySemibold"),
  url("./Components/Fonts/sf-pro-display-font/SF-Pro-Display-Semibold.woff") format("woff");
}
@font-face {
  font-family: "Bold";
  src: local("SFProDisplayBold"),
  url("./Components/Fonts/sf-pro-display-font/SF-Pro-Display-Bold.woff") format("woff");
}